* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
}

.container {
  background-color: #fefefeed;
  height: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1440px;
}

#sidebar {
  background-color: transparent;
  background-image: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  flex: 1 1 auto;
}

#form-wrapper {
  background-color: white;

  border: 1px solid indigo;
  height: 1000px;
  flex: 2 1 auto;
}
